body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.image-container-left,
.image-container-right {
    position: absolute;
    top: 20px;
}

.image-container-left {
    left: 20px;
}

.image-container-right {
    right: 20px;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

p {
    color: #495057;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 30px;
}

form {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #343a40;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
	size: 1700px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
